
	box-sizing: border-box;
}

body{
	max-width: 100%;
	margin:0 auto;
}

.wrapper{
	height: calc(100vh-89px);
}

/******** HEADER ********/
/*header body*/
header{
	background-image: url(../img/header.png);
	background-position: bottom;
	background-repeat: none;
	text-align: center;


}

/*Name*/
.name{
	font-size: 2.4em;
	color: white;
	margin-top:0;
	margin-bottom:0;
	text-shadow: -2px 2px black;
}

/******* navigation *******/

/*nav-body*/
.nav-holder{
	background-image: url(../img/nav.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color:white;
	list-style-type: none;
}

/* nav elements*/
#nav-content{
	list-style-type: none;
	text-align; left;
	margin-left: -40px;
}

/* nav li elements*/
#nav-content li{
	text-align: left;
	text-align: center;
	margin:15px 5px;
	font-size: 1.3em;


}

/******** nav anchors ********/
/* anchors */
a{	list-style-type: none;
	color: white;
	text-decoration: none;
}

/*anchor hover*/
a:hover{
	background-color: white;
	color:black;
}


/******** PROJECTS CONTENT ********/

.main-content{
	text-align: center;

}

h2{
	font-size: 3em;
}

.Pr-row1 div{
	display: inline-block;
}

.pro1{
	margin: 50px;
	width: 200px;
	height: 200px;
	background-color: gray;
	
}

.pro2{
	margin: 50px;
	width: 200px;
	height: 200px;
	background-color: gray;
	
}

.pro3{
	margin: 50px;
	width: 200px;
	height: 200px;
	background-color: gray;
	
}

p{
	font-size: 5em;
}

/******** FOOTER ********/

footer{
	background-color: gray;
	height: 55px;
	text-align: center;
}


/******* MEDIA QUERY ********/


@media screen and (min-width: 320px){
	.wrapper{
		min-height: calc(100vh - 55px);
	}

}


@media screen and (min-width: 490px){

	.name{
	font-size: 3em;
	color: white;
	margin-top:0;
	margin-bottom:0;
	text-shadow: -2px 2px black;
	}

	#nav-content li{
	text-align: left;
	display: inline-block;
	text-align: center;
	margin:10px 10px;
	font-size: 1.5em;


	}
}



@media screen and (min-width: 486px){

	.name{
	font-size: 3em;
	color: white;
	margin-top:0;
	margin-bottom:0;
	text-shadow: -2px 2px black;
	}

	#nav-content li{
	text-align: left;
	display: inline-block;
	text-align: center;
	margin:10px 8px;
	font-size: 1.5em;
	}

}


@media screen and (min-width: 720px){

	.name{
	font-size: 3em;
	color: white;
	margin-top:0;
	margin-bottom:0;
	text-shadow: -2px 2px black;
	}

	#nav-content li{
	text-align: left;
	display: inline-block;
	text-align: center;
	margin:10px 30px;
	font-size: 1.5em;
	}

}

@media screen and (min-width: 1024px){

	.wrapper{
		display: calc(100vh-55px);
	}

	.name{
	font-size: 3em;
	color: white;
	margin-top:0;
	margin-bottom:0;
	text-shadow: -2px 2px black;
	}

	#nav-content li{
	text-align: left;
	display: inline-block;
	text-align: center;
	margin:10px 30px;
	font-size: 1.5em;


	}

}


@media screen and (min-width: 1200px){

	.wrapper{
		display: calc(100vh-55px);
	}

	.name{
	font-size: 3em;
	color: white;
	margin-top:0;
	margin-bottom:0;
	text-shadow: -2px 2px black;
	}

	#nav-content li{
	text-align: left;
	display: inline-block;
	text-align: center;
	margin:10px 30px;
	font-size: 1.5em;
	}

}